<configuration>

	<timestamp key="byMinutes" datePattern="yyyy-MM-dd_HH-mm"/>

	<appender name="FILE_PB" class="ch.qos.logback.core.FileAppender">
		<file>ポイント戦_${byMinutes}.log</file>
		<append>false</append>
		<encoder>
			<pattern>%msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.ramidore.logic.system.PointBattleLogic" level="INFO">
		<appender-ref ref="FILE_PB" />
	</logger>

	<!-- for dev env -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
