.button
{
	-fx-background-radius: 0;
	-fx-background-insets: 0;
}

.toggle-button
{
	-fx-background-radius: 0.0;
	-fx-background-insets: 0;
}

.choice-box
{
	-fx-background-radius: 0.0;
	-fx-background-insets: 0;
}

.titled-pane .title
{
	-fx-background-radius: 0.0;
	-fx-background-insets: 0;
}

.column-header .label .text
{
	-fx-background-insets: 0;
	-fx-text-alignment: center;
}